h1, p, ol, ul {
text-align: center;
}

li:hover {
    background-color: aquamarine;
}

li:active {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li. ol {
    list-style: none;
}